{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% block content %}

{% include 'partials/_login_modal.html' %}
{% include 'partials/_register_modal.html' %}
<div class="modal fade" id="avatarChangeModal" tabindex="-1" role="dialog" aria-labelledby="avatarlabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">שינוי תמונת פרופיל</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="{% url 'upload_avatar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body mx-4">
          <div class="custom-file container">
            <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*" required>
            <label class="custom-file-label" for="avatar">Choose file...</label>
          </div>
          <div class="container text-center">
            <input class="btn btn-primary" type="submit" value="שלח/י">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="nav-margin">
  <div class="text-right">
      <div class="container">
        <div class="container">
          {% if alert %}
            <div class="container text-right">
              <p class="text-danger text-center"><i class="fas fa-exclamation-triangle"></i>  {{ alert }}  <i class="fas fa-exclamation-triangle"></i></p>
            </div>
          {% endif %}
          <div class="row" dir="rtl">
            <div class="col-xs-4">
              <a class="user-avatar-link" href="" class="nav-link" data-toggle="modal" data-target="#avatarChangeModal">
                <img class="img-fluid user-avatar" height="50px" width="50px" src="{{ avatar }}" alt="תמונת פרופיל">
              </a>
            </div>
            <div class="col-xs-8 profile-name">
              <h5>{{ user.last_name }} {{ user.first_name }}</h5>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container mb-3 text-right">
    <h2>:הודעות</h2>
  </div>
  {% if user.is_authenticated and messages%}
    <div class="container table-div text-right">
      <table class="table table-striped shadow message-table" cellspacing="0" dir="rtl">
        <thead>
          <tr class="row container head-row">
            <th>נושא</th>
            <th>מאת</th>
            <th>תאריך</th>
          </tr>
        </thead>
        <tbody>
          {% for message in messages %}
            <tr class="row message-row container" data-href="{% url 'message' message.id %}">
              <td>{{ message.subject }}</td>
              <td>{{ message.author_name }}</td>
              <td>לפני {{ message.contact_date | timesince }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% elif user.is_authenticated %}
    <div class="container mb-3 nav-margin text-right">
      <p>.אין הודעות חדשות</p>
    </div>
  {% else %}
    <div class="container mb-3 nav-margin text-right">
        <p>.נא להתחבר על מנת לאפשר הודעות</p>
      </div>
    </div>
  {% endif %}
  </div>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      $(document).ready(function($) {
        $(".message-row").click(function() {
            window.location = $(this).data("href");
        });
      });
  </script>
</div>
{% endblock %}