{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_login_modal.html' %}
{% include 'partials/_register_modal.html' %}

      <div id="particles-js" class="h-100 w-100"></div>
      <header class="masthead">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-md-7 order-md-2 my-auto">
              <div class="header-content mx-auto my-auto text-center">
                <h1 class="mb-5 text-center">,מורה פרטי לפייתון <br />מהנוחות של הבית</h1>
                <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">התחילו עכשיו</a>
              </div>
            </div>
            <div class="col-md-5 order-md-1 my-auto">
              <div class="device-container">
                <div class="device-mockup macbook portrait">
                  <div class="device">
                    <div class="screen">
                      <img src="{% static 'img/code.gif' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="contactLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">צרו קשר</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="{% url 'send' %}">
              {% csrf_token %}
              <div class="modal-body mx-4">
                <div class="form-label-group">
                    <input name="name" dir="rtl" type="text" id="name" class="form-control" placeholder="שם" required="true">
                    <label for="name">שם<i class="fa fa-user prefix"></i></label>
                </div>
  
                <div class="form-label-group">
                  <input name="email" dir="rtl" type="email" id="email" class="form-control" placeholder="דוא״ל" required="true">
                  <label for="email">דוא״ל<i class="fa fa-envelope prefix"></i></label>
                </div>
  
                <div class="form-label-group">
                  <input name="phone" dir="rtl" type="tel" id="phone" class="form-control" placeholder="טלפון" required="false">
                  <label for="phone">טלפון<i class="fa fa-phone prefix"></i></label>
                </div>
  
                <div class="form-label-group">
                  <input name="subject" dir="rtl" type="text" id="subject" class="form-control" placeholder="נושא" required="true">
                  <label for="subject">נושא<i class="fa fa-tag prefix"></i></label>
                </div>
  
                <div class="form-label-group">
                  <textarea name="message" dir="rtl" type="message" id="message" class="form-control" placeholder="תוכן" required="true"></textarea>
                  <label for="message">תוכן<i class="fa fa-pencil prefix"></i></label>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-unique" type="submit"><i class="fa fa-paper-plane-o ml-1"></i>שלח/י</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    <section class="cta" id="contact">
      <div class="cta-content">
        <div class="container text-center">
          <h2 class="text-center">,אל תחכו<br>!השיעור הראשון חינם</h2>
          <a href="" class="btn btn-rounded mb-4 contact-btn" data-toggle="modal" data-target="#modalContactForm">צרו קשר</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="about text-center" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2 mx-auto text-right">
            <h4 class="course-content">:מאפייני הלמידה</h4>
            <ul class="course-content">
              <li>לימוד מרחוק באמצעות TeamViewer</li>
              <li>למידה מעבר לבסיס</li>
              <li>זמינות מלאה ועזרה עם משימות</li>
              <li>שיעור ניסיון חינם</li>
            </ul>
            <h5 class="course-content">?למי לימוד כזה מיועד</h5>
            <ul class="course-content">
              <li>תלמידים שתחום הלימודים שלהם הוא לא מחשבים</li>
              <li>אנשים שמחפשים להתחיל לתכנת ומחפשים דחיפה</li>
              <li>אנשים שמעדיפים ללמוד תחת הוראה והדרכה</li>
            </ul>
            <p class="course-content">!נ.ב: האתר הזה מופעל על ידי פייתון</p>
          </div>
          <div class="col-md-6 order-md-1 mx-auto">
            <img class="img-fluid tv-img" src="{% static 'img/teamviewer.jpg' %}" alt="teamviewer image">
          </div>
        </div>
      </div>
    </section>

    <section id="socials" class="linkup">
      <div class="container">
        <h2><i class="fas fa-heart"></i>  הישארו בקשר</h2>
          
        <ul class="list-inline list-social">
          <li class="list-inline-item social-instagram">
            <a href="https://www.instagram.com/attiachdaniel/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item social-linkedin">
            <a href="https://www.linkedin.com/in/daniel-attiach/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
{% endblock %}