{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="מורה פרטי לפייתון, שיעור ניסיון חינם! מהנוחות של הבית שלכם">
    <meta name="author" content="Daniel Attiach">
    <meta name="Description" CONTENT="Use a private tutor to help you learn Python">
    <meta name="google-site-verification" content="yTObf5y35ObQmpQioUHI8W0f3wNSk560LtU7joGvJSM" />
    <title>PyTut</title>

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="img/png" href="{% static 'icons/favicon.ico' %}">
  </head>

  <body id="page-top">

    {% include 'partials/_navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/_footer.html' %}    
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/js/mdb.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
    {% if request.path == '/' %}
    <script src="{% static 'js/particles.js' %}"></script>
    <script>
        particlesJS.load('particles-js', 'https://api.myjson.com/bins/1cwlzg', function() {
          
        });
    </script>
    {% endif %}
  </body>

</html>